* {
    box-sizing: border-box;
    margin: 0;

}

body{

    background-color: #fff1fd;
}
nav{
    margin-left: 0;
    margin-right: 0;
    background-color: yellow;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;

}
.nav{

    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
}
.nav-header{
    display: flex;
    align-items: center;
}
.nav-img__pic{

    height: 100px;
    width: 100px;

}
.nav-header__h1{
    height: 30%;
    color: black;
    font-size: 30px;
    font-family: sans-serif;

}
.task{
    overflow: hidden;
    border: black 5px solid;
    border-radius: 10px;
    background: rgba(255, 238, 70, 0.47);
    max-width: 80%;
    height: 30%;
    margin: 20px auto;
    padding: 2%;


}
.score-view{

    font-size: 50px;

}
 .exe{
     font-family: sans-serif;
     text-align: center;
     max-font-size: 30px;
     margin-bottom: 3%;


 }
 .loop-box{

     display: flex;
     justify-content: space-around;


 }